.logo {
  display: flex;
  justify-content: center;
  height: 28px;
  margin: 16px;
  font-size: 32px;
  color: white;
}

.site-layout .site-layout-background {
  background: rgb(255, 255, 255);
}

.ant-layout-sider, .ant-menu, .ant-menu-sub {
  background-color: rgb(53, 51, 51) !important;
}

.ant-layout-sider-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 70px;
  background-color: rgb(180, 89, 89);
}


.ant-layout-sider-trigger svg {
  color: rgb(255, 255, 255);
}

.ant-menu-item {
  display: flex;
  align-items: center;
}

.site-layout{
  background-color: white;
}

.ant-layout-footer {
  background-color: white;
  color: rgb(31, 28, 28);
  font-size: calc(1px + 2vmin);
}